<!DOCTYPE html>

<html>
<head>
	<title>minestamp</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel=stylesheet href="style.css">

	<script src="https://unpkg.com/vue" defer></script>
	<script src="app.js" defer></script>
</head>

<body>
	<div id=app>
		<header>
			minestamp <b>{{ new Date().getMonth() + 1 }}月</b>
			<a :href=downloadURL :download="'minestamp-' + ('0' + (new Date().getMonth() + 1)).slice(-2) + '.csv'">download</a>
		</header>

		<main>
			<div>
				<table>
					<thead>
						<tr><th rowspan=2 class=dummy-cell></th><th rowspan=2>出勤</th><th rowspan=2>退勤</th><th colspan=2>休憩1</th><th colspan=2>休憩2</th><th colspan=2>休憩3</th></tr>
						<tr><td>開始</td><td>終了</td><td>開始</td><td>終了</td><td>開始</td><td>終了</td></tr>
					</thead>
					<tbody>
						<tr v-for="record in records" :class="{ today: record.day === new Date().getDate()}">
							<td>{{ record.day }}日</td>
							<td>{{ dateToStr(record.start) }}</td>
							<td>{{ dateToStr(record.end) }}</td>
							<td>{{ dateToStr(record.break[0].start) }}</td>
							<td>{{ dateToStr(record.break[0].end) }}</td>
							<td>{{ dateToStr(record.break[1].start) }}</td>
							<td>{{ dateToStr(record.break[1].end) }}</td>
							<td>{{ dateToStr(record.break[2].start) }}</td>
							<td>{{ dateToStr(record.break[2].end) }}</td>
						</tr>
					</tbody>
				</table>
			</div>

			<footer v-if="state === 'before-attendance'">
				<button @click=startWork class=start-button>出勤</button>
			</footer>
			<footer v-else-if="state === 'working'">
				<button @click=startBreak class=start-button>休憩</button>
				<button @click=endWork class=end-button>退勤</button>
			</footer>
			<footer v-else-if="state === 'breaking'">
				<button @click=endBreak class=end-button>休憩終了</button>
			</footer>
			<footer v-else>
				<span>おつかれさまでした</span>
			</footer>
		</main>
	</div>
</body>
</html>
